@media (prefers-color-scheme: dark) {
    input[type=date]::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }

    #user-id-input span {
        background: var(--container-dark);
    }
}

@media (prefers-color-scheme: light) {
    #user-id-input span {
        background: var(--container-light);
    }
}

.flex-space-evenly {
    margin: 5em auto;
    width: 30%;
    min-width: 40em;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.headline {
    font-size: 2rem;
    margin: 0 0 5% 0;
}

#content {
    display: flex;
    position: relative;
    justify-content: center;
}

#image {
    position: absolute;
    left: 2%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 15%;
}

#image-preview {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: var(--box-shadow);
    transition: filter 0.3s;
    cursor: pointer;
}

#image > button {
    padding: 7px;
}

#image-preview:hover {
    filter: brightness(0.5);
}

#image-upload {
    display: none;
}

#inputs {
    width: 55%;
}

#inputs > div {
    margin-bottom: 14%;
}

.input {
    width: 47.5%;
}

.input input {
    background: transparent;
    border: none;
    margin: auto auto 5px auto;
    font-size: 1.2rem;
    width: 100%;
}

.input input:focus {
    outline: none;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin: auto auto 7% auto;
}

#user-id-input {
    border-color: var(--medium-gray);
    width: 100%;
    position: relative;
}

#user-id-input input {
    color: var(--medium-gray);
    width: 100%;
}

#user-id-input span {
    position: absolute;
    font-size: 0.8rem;
    bottom: -9px;
    left: 10px;
    padding: 0 10px;
    color: var(--medium-gray);
}

#email-input {
    width: 100%;
}

#inputs .input-row button {
    padding: 10px;
}

#content button[type="submit"] {
    width: 50%;
    margin: 0 25%;
    height: 40px;
    font-size: 1.2rem;
}