@media (prefers-color-scheme: dark) {
    input[type=date]::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }

    #user-id-input span {
        background: var(--container-dark);
    }
}

@media (prefers-color-scheme: light) {
    #user-id-input span {
        background: var(--container-light);
    }
}

.flex-space-evenly {
    display: flex;
    justify-content: space-evenly;
    height: calc(100vh - 120px);
}

.flex-space-evenly > div {
    width: 44%;
    margin: 4% 0;
    min-width: 630px;
}

.flex-space-evenly > div > div {
    width: 90%;
    margin: 5%
}

.headline {
    font-size: 2rem;
    margin: 0 auto 5% auto;
}

#content {
    display: flex;
}

#image {
    margin: 0 5% 0 5%;
}

#image-preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: var(--box-shadow);
    transition: filter 0.3s;
    cursor: pointer;
}

#image-preview:hover {
    filter: brightness(0.5);
}

#image-upload {
    display: none;
}

#inputs {
    width: 55%;
    margin: 0 22.5% 0 0;
}

#inputs > div {
    margin-bottom: 14%;
}

.input {
    width: 47.5%;
}

.input input {
    background: transparent;
    border: none;
    margin: auto auto 5px auto;
    font-size: 1.2rem;
    width: 100%;
}

.input input:focus {
    outline: none;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin: auto auto 7% auto;
}

#user-id-input {
    border-color: var(--medium-gray);
    width: 100%;
    position: relative;
}

#user-id-input input {
    color: var(--medium-gray);
    width: 100%;
}

#user-id-input span {
    position: absolute;
    font-size: 0.8rem;
    bottom: -9px;
    left: 10px;
    padding: 0 10px;
    color: var(--medium-gray);
}

#email-input {
    width: 100%;
}

#change-password, #delete-account {
    background: transparent;
    padding: 10px;
    cursor: pointer;
    transition: filter 0.3s;
}

#change-password:hover, #delete-account:hover {
    filter: brightness(0.5);
}

#change-password {
    border: 1px solid var(--theme-color);
    color: var(--theme-color);
}

#delete-account {
    border: 1px solid var(--error-color);
    color: var(--error-color);
}

#change-password:focus, #delete-account:focus {
    outline: none;
}

input[type="submit"] {
    border: none;
    border-radius: 25px;
    background-color: var(--theme-color);
    color: var(--font-light);
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}