.button {
    border-radius: 25px;
    border: 1px solid transparent;
    cursor: pointer;
}

.button.transparent {
    background: transparent;
    border-color: var(--font-light);
    color: var(--font-light);
}

.button.theme {
    color: var(--font-light);
    background: var(--theme-color);
    box-shadow: var(--box-shadow);
}

.button.magic {
    background: linear-gradient(135deg, #8E6BCD, #6BC7CD);
    color: inherit;
    border: none;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.button.magic:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(25px);
    opacity: 0.9;
    background: linear-gradient(135deg, #8E6BCD, #6BC7CD);
    transition: inherit;
}

.button.magic:hover:before {
    transform: scale(1.1);
}

.button.magic button {
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    position: absolute;
    top: 2px;
    left: 2px;
    background: var(--container-light);
    color: inherit;
    border-radius: 25px;
    border: none;
    cursor: inherit;
}

@media (prefers-color-scheme: dark) {
    .button.transparent {
        border-color: var(--font-dark);
        color: var(--font-dark);
    }
    .button.magic button {
        background: var(--container-dark);
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 12px;
    box-shadow: var(--box-shadow);
    border-radius: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--default-gray);
    transition: 0.3s;
    border-radius: inherit;
}

.switch .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: -1px;
    bottom: -3px;
    background-color: var(--default-gray);
    transition: 0.3s;
    border-radius: 50%;
    border: 1px solid var(--font-light);
}

.switch input:checked + .slider {
    background-color: var(--default-gray);
}

.switch input:checked + .slider:before {
    transform: translateX(16px);
    background: var(--theme-color);
}