:root {
    --background-dark: #121212;
    --background-light: #ffffff;

    --container-dark: #1E1E1E;
    --default-gray: #868686;

    --theme-color: #BDFF00;
    --error-color: #ff005d;
    --box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-dark);
        color: white;
    }

    input {
        color: white;
    }

    .input {
        border-bottom: 3px solid white;
    }
    .input input {
        color: white;
    }

    .container-gray {
        background-color: var(--container-dark);
        border-radius: 25px;
        box-shadow: var(--box-shadow);
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
        color: #121212;
    }

    .input {
        border-bottom: 3px solid black;
    }
}

button {
    box-shadow: var(--box-shadow);
    border-radius: 25px;
    border: none;
}