:root {
    --background-dark: #121212;
    --background-light: #ffffff;

    --container-dark: #1E1E1E;
    --container-light: #F2F2F2;

    --font-dark: #ffffff;
    --font-light: #121212;

    --default-gray: #868686;

    --theme-color: #BDFF00;
    --theme-color-text-light: #307f00;
    --error-color: #ff005d;
    --box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

::-moz-selection { /* Firefox */
    color: var(--background-dark);
    background: var(--theme-color);
}

::selection {
    color: black;
    background: var(--theme-color);
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-dark);
        color: var(--font-dark);
    }

    input, textarea {
        color: var(--font-dark);
        font-family: inherit;
        font-size: inherit;
    }

    .input {
        border-bottom: 3px solid var(--font-dark);
    }

    .container-gray {
        background-color: var(--container-dark);
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--background-light);
        color: var(--font-light);
    }

    .input {
        border-bottom: 3px solid black;
    }

    .container-gray {
        background-color: var(--container-light);
    }
}

button {
    box-shadow: var(--box-shadow);
    border-radius: 25px;
    border: none;
}

.container-gray {
    border-radius: 25px;
    box-shadow: var(--box-shadow);
}