:root {
    --background-dark: #121212;
    --background-light: #ffffff;

    --container-dark: #1E1E1E;
    --container-light: #F2F2F2;

    --font-dark: #ffffff;
    --font-light: #121212;

    --default-gray: #D9D9D9;
    --medium-gray: #828282;

    --theme-color: #8e6bcd;
    --error-color: #cd6b6b;
    --green-color: #6bcd8e;
    --blue-color: #6b8ecd;
    --theme-color-transparent: #8e6bcd1A;
    --error-color-transparent: #cd6b6b1A;
    --green-color-transparent: #6bcd8e1A;
    --blue-color-transparent: #6b8ecd1A;
    --box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

::-moz-selection { /* Firefox */
    color: var(--font-light);
    background: var(--theme-color);
}

::selection {
    color: var(--font-light);
    background: var(--theme-color);
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-dark);
        color: var(--font-dark);
    }

    input, textarea {
        color: var(--font-dark);
        font-family: inherit;
        font-size: inherit;
    }

    .input {
        border-bottom: 3px solid var(--font-dark);
    }

    .container-gray {
        background-color: var(--container-dark);
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--background-light);
        color: var(--font-light);
    }

    .input {
        border-bottom: 3px solid black;
    }

    .container-gray {
        background-color: var(--container-light);
    }
}

button {
    box-shadow: var(--box-shadow);
    border-radius: 25px;
    border: none;
}

.container-gray {
    border-radius: 25px;
    box-shadow: var(--box-shadow);
}