.container-gray {
    width: 30%;
    margin: 2em auto;
    padding: 2em;
}

.container-gray > p {
    font-size: 2rem;
    margin: 0 0 5% 0;
}

.container-gray > span {
    width: max-content;
    margin: 0 auto 2em;
    display: block;
}

.message.red {
    margin: 0 auto 2em;
}

a button {
    padding: 10px;
    width: 100%;
}

.container-gray a {
    width: 20%;
    display: block;
    margin: auto;
}