header {
    display: flex;
    height: 120px;
    align-items: center;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    justify-content: space-between;
}

#logo {
    display: flex;
    align-items: center;
    height: 80%;
    margin-left: 2%;
    text-decoration: none;
}

#logo img {
    height: 100%;
    width: auto;
    margin-right: 0.5%;
}

#logo span {
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    color: var(--font-dark);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#search-form {
    display: flex;
    width: 30%;
}

#search-form label {
    width: 95%;
}

#search-form input {
    background: transparent;
    border: 1px solid var(--background-dark);
    border-radius: 25px 0 0 25px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

#search-form input:focus {
    outline: none;
    border-color: var(--theme-color);
}

#search-input::-webkit-search-cancel-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: var(--theme-color);
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    transition: all 0.25s;
}

#search-form button {
    background: transparent;
    box-shadow: none;
    border-radius: 0 25px 25px 0;
    border: 1px solid var(--background-dark);
    border-left: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

#search-form:hover input,
#search-form:hover button,
#search-form:hover button,
#search-form:focus-within button {
    border-color: var(--theme-color);
}

#search-form path {
    stroke: var(--background-dark);
    fill: var(--background-dark);
    transition: all 0.3s ease-in-out;
}

#search-form:hover path,
#search-form:focus-within path {
    stroke: var(--theme-color);
    fill: var(--theme-color);
}

#account-section {
    display: flex;
    align-items: center;
    border: 1px solid var(--background-dark);
    border-radius: 25px;
    height: 70%;
    gap: 10%;
    padding: 0 1%;
    min-width: max-content;
    margin: auto 1% auto 0;
    text-align: right;
    transition: all 0.5s ease-in-out;
    white-space: nowrap;
    position: relative;
}

#account-section:hover {
    border-color: var(--theme-color);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#account-info {
    display: flex;
    gap: 5%;
    height: 100%;
    align-items: center;
}

#account-info img {
    object-fit: cover;
    border-radius: 50%;
    height: 70%;
    aspect-ratio: 1 / 1;
}

#account-section svg {
    width: 50px;
}

#account-section svg > path {
    stroke: var(--background-dark);
    transition: stroke 0.5s ease-in-out;
}

#account-section:hover svg path {
    stroke: var(--theme-color)
}

#account-popup {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: all 0.5s ease-in-out;
    width: 100%;
    border: 1px solid var(--theme-color);
    top: 100%;
    left: calc(0% - 1px);
    z-index: 1;
}

#account-popup ul {
    margin: 5%;
    padding: 0;
    text-align: left;
}

#account-popup li {
    list-style: none;
    padding: 10px;
    border-bottom: var(--background-dark) 1px solid;
}

#account-popup a {
    text-decoration: none;
    color: var(--font-dark);;
}

#logout {
    color: var(--error-color) !important;
}

#account-section:hover #account-popup {
    opacity: 1;
    visibility: visible;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#username-header {
    font-size : 0.75rem;
}

#login-button {
    width: 10%;
    height: 50%;
    margin: 0 1%;
}

#login-button button {
    background-color: var(--theme-color);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
}