body {
    margin: 0;
}

#header-div {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: end;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#account-section-header {
    margin: auto 15px auto auto;
    cursor: pointer;
    border: var(--background-dark) 1px solid;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 225px;
    padding: 0 25px 0 25px;
    min-width: max-content;
    gap: 25px;
    height: 90px;
    transition: all 0.5s;;
}

#account-section-header svg path {
    stroke: var(--background-dark);
    transition: stroke 0.5s;
}

#account-section-header:hover {
    border: var(--theme-color) 1px solid;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#account-section-header:hover svg path {
    stroke: var(--theme-color)
}

#account-section-header:hover #account-popup {
    display: block;
    border: var(--theme-color) 1px solid;
    border-top: none;
    opacity: 1;
    visibility: visible;
}

#account-section-header img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: var(--box-shadow);
}

#account-names {
    text-align: end;
}

#account-names #username-header {
    font-size: 0.75rem;
}

#account-info-header {
    display: flex;
    align-items: center;
}

#account-names {
    margin: 0 10px 0 0;
}

#account-popup {
    position: absolute;
    top: 106px;
    right: 15px;
    width: 300px;
    height: auto;
    opacity: 0;
    visibility: hidden;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: transparent 1px solid;
    border-top: none;
    transition: opacity 0.5s, visibility 0.5s;
    cursor: auto;
}

#account-popup ul {
    margin: 5%;
    padding: 0;
}

#account-popup li {
    list-style: none;
    padding: 10px;
    border-bottom: var(--background-dark) 1px solid;
}

#account-popup a {
    text-decoration: none;
    color: white;
}

#logout {
    color: var(--error-color) !important;
}

#logo {
    width: 220px;
    height: 100px;
    margin: auto auto auto 30px;
}

#logo a {
    text-decoration: none;
    display: flex;
    color: white;
}

#logo img {
    width: 100px;
    height: 100px;
}

#logo div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo div span {
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#login-button {
    border: none;
    border-radius: 25px;
    background-color: var(--theme-color);
    color: black;
    height: 40px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    width: 10%;
    margin: auto 5% auto auto;
}

#searchbar-container {
    --searchPadding: 12px;

    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--searchPadding);
    border-radius: 24px;
    background: #292929;
    border: var(--background-dark) 1px solid;
    transition: all 0.45s;
}

#searchbar-container:hover {
    border: var(--theme-color) 1px solid;
}

#searchbar-container:focus-within {
    border: var(--theme-color) 1px solid;
}

#search-input {
    font-size: 1rem;
    color: white;
    margin-left: var(--searchPadding);
    outline: none;
    border: none;
    background: transparent;
    width: 320px;
}

#search-input::placeholder, #search-icon {
    color: rgba(255, 255, 255, 0.25);
}

#search-input::-webkit-search-cancel-button{
    -webkit-appearance: none;
    background-color: var(--theme-color);
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    transition: all 0.45s;
}

#search-button {
    all: unset;
}

#search-button path {
    fill: white;
}

#search-button:hover {
    cursor: pointer;
}
