#already-registered {
    margin: auto auto 5% 5%;
    display: inline-block;
}

#already-registered a {
    color: var(--theme-color);
    text-decoration: none;
}

#login-form {
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 5% 0 auto 0;
}

.input {
    margin-bottom: 10%;
}

.submit {
    margin-bottom: 5%;
    width: 100%;
}

.container-gray {
    width: 20%;
}

.button.theme[type="submit"] {
    width: 75%;
    padding: 5px;
    margin: 0 12.5% 5%;
    font-size: 1.05rem;
}

#password-forgotten {
    width: 67.5%;
    padding: 7px 5px;
    margin: auto 16.25% 7%;
}

