@media (prefers-color-scheme: dark) {
    input[type=date]::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
    .input {
        border-bottom: 3px solid white;
    }
    .input input {
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    .input {
        border-bottom: 3px solid black;
    }
}

h1 {
    text-align: center;
    font-size: 64px;
    font-weight: 400;
}

#register-form input[type=submit] {
    background-color: var(--theme-color);
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    font-size: 1.5rem;
    margin: auto auto 5% auto;
    cursor: pointer;

    border: transparent;
    border-radius: 25px;
    box-shadow: var(--box-shadow);
}

.container-gray {
    width: 30%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flow-root;
    min-width: 380px;
    max-width: 650px;
}

.container-headline {
    font-size: 1.5rem;
    margin: 0 auto 5% 0;
    display: inline-block;
}

.input input {
    width: 100%;
    background: transparent;
    border: none;
    margin: auto auto 2% auto;
}

input[type=file] {
    display: none;
}

label {
    font-size: 0;
}

.divider {
    margin: 5%;
}

#passwords {
    display: flex;
    justify-content: space-between;
    margin: 5% auto auto auto;
}
#passwords div {
    width: 47.5%;
}

#inputs-beside-picture {
    width: 100%;
    margin: auto 0 auto 5%;
}

.row-of-inputs-beside-picture {
    display: flex;
    justify-content: space-between;
}
.row-of-inputs-beside-picture div {
    width: 47.5%;
}

#image-preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.3s;
}

#image-preview:hover {
    cursor: pointer;
    filter: brightness(0.5);
}

.flex {
    display: flex;
    align-items: center;
}

#already-registered {
    margin: auto auto 5% 5%;
    display: inline-block;
}

#already-registered a {
    color: var(--theme-color);
    text-decoration: none;
}

textarea:focus, input:focus{
    outline: none;
}