#search-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-container {
    display: flex;
    border: var(--container-dark) 1px solid;
    border-radius: 25px;
    margin: 20px 10px 10px 10px;
    padding: 10px;
    max-width: 1020px;
}

.result-container:hover {
    background-color: var(--container-dark);
}

.result-thumbnail {
    /*TODO:something smart here*/
    height: 180px;
    width: 330px;
    border-radius: 25px;
}

.text-container {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    justify-content: flex-start;
}

.result-title {
    font-size: 1.5rem;
}

.result-views, .result-upload-date {
    font-size: 0.75rem;
}

.result-views:before {
    content: "•";
    margin: 0 4px;
}

.wrap-container {
    display: flex;
    margin: 5px 0 5px 0;
    align-items: center;
}

#views-and-date {
    margin-left: 5px;
}

.result-uploader-profile-pic {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.result-uploader {
    margin-left: 5px;
}

.result-description {
    margin: 5px 0 0 5px;
    font-size: 0.75rem;
}