::-moz-selection { /* Firefox */
    -webkit-text-fill-color: black;
}

::selection {
    -webkit-text-fill-color: black;
}

#video-body {
    width: 90%;
    margin: 1%;
    min-width: 650px;
    max-width: 1700px;
    display: flex;
}

#video-area {
    width: 60%;
}

#video-body video {
    border-radius: 25px;
    width: 100%;
}

#video-body p {
    font-size: 1.2rem;
    margin-left: 2%;
}

#video-stats {
    margin: 1% 0 3% 2%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    gap: 1%;
    align-items: center;
}

#video-stats > * {
    border: 1px solid var(--background-dark);
    padding: 1%;
    border-radius: 25px;
    transition: border-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    min-height: max-content;
}

#video-stats > *:hover {
    border-color: var(--theme-color);
}

#uploader {
    grid-column: 1 / 4;
    display: block;
    height: 100%;
    padding: 2px;
    border-radius: 50px;
}

#uploader a {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 2px;
    text-decoration: none;
    color: white;
}

#uploader img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1%;
    object-fit: cover;
    box-shadow: var(--box-shadow);
}

#likes {
    grid-column: 4 / 5;
    gap: 5px;
    cursor: pointer;
}

#dislikes {
    cursor: pointer;
}

#likes.selected, #dislikes.selected {
    border-color: var(--theme-color);
    color: var(--theme-color);
}

#dislikes, #views {
    gap: 5px;
}

#views:hover, #date:hover {
    border-color: var(--background-dark);
}

#description {
    margin: auto 0 1% 2%;
    max-height: 100px;
    display: inline-table;
}

#description > span {
    font-weight: bold;
    margin-bottom: 1%;
    display: inline-block;
}

#description > div {
    height: 100px;
    overflow: auto;
    color: var(--default-gray);
    -webkit-text-fill-color: white;
    transition: color 0.3s ease;
}

#description > div::-webkit-scrollbar, #comment-body::-webkit-scrollbar {
    width: 10px;
}

#description > div::-webkit-scrollbar-thumb, #comment-body::-webkit-scrollbar-thumb {
    border: 10px solid;
    border-radius: 25px;
}

#description > div:hover, #comment-body:hover {
    color: var(--theme-color);
}

#comments {
    margin: 3% auto auto 3%;
    width: 34%;
}

#comment-body {
    max-height: 500px;
    overflow-y: auto;
    color: var(--default-gray);
    -webkit-text-fill-color: white;
    transition: color 0.3s ease;
}

.comment {
    display: flex;
    margin-bottom: 7%;
}

.comment > img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1%;
    box-shadow: var(--box-shadow);
}

.username-font-size {
    font-size: 0.75rem;
}

#add-comment {
    padding: 5%;
    border: 1px solid var(--background-dark);
    border-radius: 25px;
}

#add-comment form {
    display: flex;
    align-items: stretch;
    width: 100%;
    justify-content: space-between;
}

#add-comment > form > input {
    background: transparent;
    border: none;
    width: 80%;
}

#add-comment > form > button {
    width: 15%;
    border-radius: 25px;
    border: none;
    background-color: var(--theme-color);
    color: var(--background-dark);
    cursor: pointer;
    padding: 5px;
}

#add-comment > form > input:focus {
    outline: none;
}