::-moz-selection { /* Firefox */
    -webkit-text-fill-color: black;
}

::selection {
    -webkit-text-fill-color: black;
}

#video-body {
    width: 90%;
    margin: 5%;
}

#video-area {
    width: 60%;
}

#video-body video {
    border-radius: 25px;
    width: 100%;
}

#video-body p {
    font-size: 1.2rem;
    margin-left: 1%;
}

#description {
    margin: auto 0 1% 1%;
    max-height: 100px;
    display: inline-table;
}

#description > span {
    font-weight: bold;
    margin-bottom: 1%;
    display: inline-block;
}

#description > div {
    height: 100px;
    overflow: auto;
    color: var(--default-gray);
    -webkit-text-fill-color: white;
    transition: color 0.3s ease;
}
#description > div::-webkit-scrollbar {
    width: 10px;
}

#description > div::-webkit-scrollbar-thumb {
    border: 10px solid;
    border-radius: 25px;
}

#description > div:hover {
    color: var(--theme-color);
}