<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/account.css}" rel="stylesheet"/>
    <link th:href="@{/css/buttons.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" th:href="@{/img/logo.png}">
</head>

<header th:replace="~{header.html :: header}"></header>
<body>
    <div class="flex-space-evenly container-gray">
        <p class="headline">Account Settings</p>
        <form id="content">
            <div id="image">
                <label for="image-upload">
                    <img id="image-preview" alt="" th:src="${account.getProfilePictureURL()}">
                </label>
                <input type="file" id="image-upload" accept="image/*">
                <label for="banner-upload">
                    <img th:src="${account.getBannerURL()}" alt="" id="banner-preview">
                    <button id="banner-button" type="button">Upload Banner</button>
                </label>
                <input type="file" accept="image/*" id="banner-upload">
            </div>
            <div id="inputs">
                <div>
                    <div class="input-row">
                        <div class="input">
                            <label for="firstName"></label>
                            <input type="text" id="firstName" th:value="${account.getFirstName()}"
                                    placeholder="First Name" required>
                        </div>
                        <div class="input">
                            <label for="lastName"></label>
                            <input type="text" id="lastName" th:value="${account.getLastName()}"
                                    placeholder="Last Name" required>
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input">
                            <label for="username"></label>
                            <input type="text" id="username" th:value="${account.getUsername()}"
                                    placeholder="Username" required pattern="^[a-z\d]{1,20}$">
                        </div>
                        <div class="input">
                            <label for="dateOfBirth"></label>
                            <input type="date" id="dateOfBirth"
                                   th:value="${account.getDateOfBirthString()}" required>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="input-row">
                        <div class="input" id="user-id-input">
                            <span>UserID</span>
                            <label for="userID"></label>
                            <input type="text" id="userID" th:value="${account.getID()}" readonly>
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input" id="email-input">
                            <label for="email"></label>
                            <input type="email" id="email" th:value="${account.getEmail()}"
                                   placeholder="Email" required>
                        </div>
                    </div>
                </div>
                <div class="input-row">
                    <a href="/change-password"><button class="button theme transparent">Change Password</button></a>
                    <a href="/delete-account"><button class="button red transparent">Delete Account</button></a>
                </div>
                <button type="submit" class="button theme">Save</button>
            </div>
        </form>
    </div>
    <script th:src="@{/js/account.js}"></script>
</body>