<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link th:href="@{css/default.css}" rel="stylesheet"/>
    <link th:href="@{css/header.css}" rel="stylesheet"/>
    <link th:href="@{css/account.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" th:href="@{img/logo.png}">
</head>

<body>
    <div class="container-gray" id="left-container-gray">
        <div class="margin">
            <span>Account Settings</span>
            <br>
            <div id="usernames">
                <label for="image-upload">
                    <img id="image-preview" alt="profile-picture" th:src="${user.getProfilePictureURL()}">
                </label>
                <input type="file" id="image-upload" accept="image/*">

                <div>
                    <div>
                        <label for="firstName"></label>
                        <label for="lastName"></label>
                        <div>
                            <input type="text" id="firstName" placeholder="First Name" autofocus
                                   required th:value="${user.getFirstName()}">
                        </div>
                        <div>
                            <input type="text" id="lastName" placeholder="Last Name" required
                                   th:value="${user.getLastName()}">
                        </div>
                    </div>
                    <div>
                        <label for="username"></label>
                        <label for="dateOfBirth"></label>
                        <div>
                            <input type="text" id="username" placeholder="Username" required
                                   pattern="^[a-z\d]{1,20}$" th:value="${user.getUsername()}">
                        </div>
                        <div>
                            <input type="date" id="dateOfBirth" required th:value="${user.getDateOfBirth()}">
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="container-gray" id="right-container-gray">
        <span>Profile Preview</span>
    </div>

    <div class="container-gray" id="header-div">
        <div id="logo">
            <a href="/">
                <img src="/img/logo.png" alt="">
                <div>
                    <span>Stream</span>
                    <span>Fusion</span>
                </div>
            </a>
        </div>
        <div id="account-section-header">
            <div id="account-info-header">
                <div id="account-names">
                    <span th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"></span>
                    <br>
                    <span id="username-header" th:text="'@' + ${user.getUsername()}"></span>
                </div>
                <img id="profile-picture" th:src="${user.getProfilePictureURL()}" alt="">
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="10" viewBox="0 0 26 10" fill="none">
                <path d="M0.999999 1L10 7.75C11.7778 9.08333 14.2222 9.08333 16 7.75L25 1"/>
            </svg>
            <div id="account-popup" class="container-gray">
                <ul>
                    <li><a th:href="'/user?id=' + ${user.getID()}">Profile</a></li>
                    <li><a href="/account">Account Settings</a></li>
                    <li><a id="logout" href="/login?logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script th:src="@{js/header.js}"></script>
</body>