<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link th:href="@{/css/authentication.css}" rel="stylesheet"/>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" th:href="@{/img/logo.png}">
</head>
<body>
    <h1>Login</h1>
    <div class="container-gray">
        <form id="login-form">
            <label for="email"></label>
            <label for="password"></label>
            <div class="input">
                <input type="email" id="email" name="email" placeholder="Email" autofocus required>
            </div>
            <div class="input">
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <input type="submit" class="submit" value="Login">
        </form>
        <span id="already-registered">Don't have an account? <a href="/register">Register</a>.</span>
    </div>
    <script th:src="@{/js/login.js}"></script>