<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link th:href="@{css/default.css}" rel="stylesheet"/>
    <link th:href="@{css/register.css}" rel="stylesheet"/>
</head>
<body>
    <h1>Create an account.</h1>

    <form id="register">
        <label for="firstName">
            <input name="firstName" id="firstName" placeholder="First Name" required pattern="[A-Za-z]+">
        </label>
        <label for="lastName">
            <input name="lastName" id="lastName" placeholder="Last Name" required pattern="[A-Za-z]+">
        </label>
        <label for="email">
            <input name="email" id="email" placeholder="Email" required type="email">
        </label>
        <label for="username">
            <input name="username" id="username" placeholder="Username" required pattern="[a-z\d]{1,20}">
        </label>
        <label for="dateOfBirth">
            <input name="dateOfBirth" id="dateOfBirth" type="date" required>
        </label>
        <label for="password">
            <input name="password" id="password" type="password" placeholder="Password" required>
        </label>
        <label for="confirmPassword">
            <input name="confirmPassword" id="confirmPassword" type="password" placeholder="Confirm Password" required>
        </label>
        <input type="submit" value="Register">
    </form>

    <script>
        document.getElementById("register").addEventListener("submit", function(event) {
            event.preventDefault();

            let formData = {
                firstName: document.getElementById("firstName").value,
                lastName: document.getElementById("lastName").value,
                email: document.getElementById("email").value,
                username: document.getElementById("username").value,
                dateOfBirth: document.getElementById("dateOfBirth").value,
                password: document.getElementById("password").value
            };

            if (formData.password !== document.getElementById("confirmPassword").value) {
                alert("Passwords do not match.");
                return;
            }

            fetch("/api/v1/auth/register", {
                method: "POST",
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                },
                body: JSON.stringify(formData)
            }).then(function(response) {
                if (!response.ok) {
                    throw Error(response.statusText);
                }
                window.location.href = "/";
            }).catch(function(error) {
                console.error(error);
            });
        });
    </script>
</body>
</html>