<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link th:href="@{css/default.css}" rel="stylesheet"/>
    <link th:href="@{css/authentication.css}" rel="stylesheet"/>
    <link th:href="@{css/register.css}" rel="stylesheet"/>
</head>
<body>
    <h1>Register</h1>
    <div class="container-gray">
        <form id="register-form">
            <div id="profile" class="divider">
                <span class="container-headline">Public Profile</span>
                <br>
                <div class="flex">
                    <label for="image-upload">
                        <img id="image-preview" alt="profile-picture" th:src="@{img/blank_profile.jpg}">
                    </label>
                    <input type="file" id="image-upload" accept="image/*">

                    <div id="inputs-beside-picture">
                        <label for="firstName"></label>
                        <label for="lastName"></label>
                        <div class="row-of-inputs-beside-picture">
                            <div class="input"><input
                                    type="text"
                                    id="firstName"
                                    name="firstName"
                                    placeholder="First Name"
                                    autofocus
                                    required
                            ></div>
                            <div class="input">
                                <input type="text" id="lastName" name="lastName" placeholder="Last Name" required>
                            </div>
                        </div>
                        <br>
                        <label for="username"></label>
                        <label for="dateOfBirth"></label>
                        <div class="row-of-inputs-beside-picture">
                            <div class="input"><input
                                    type="text"
                                    id="username"
                                    name="username"
                                    placeholder="Username"
                                    required
                                    pattern="^[a-z\d]{1,20}$"
                            ></div>
                            <div class="input">
                                <input type="date" id="dateOfBirth" name="dateOfBirth" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="credentials" class="divider">
                <span class="container-headline">Credentials</span>
                <br>

                <label for="email"></label>
                <div class="input"><input type="email" id="email" name="email" placeholder="Email" required></div>

                <label for="password"></label>
                <label for="confirmPassword"></label>
                <div id="passwords">
                    <div class="input" id="password-div">
                        <input type="password" id="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="input" id="confirmPassword-div">
                        <input
                            type="password"
                            id="confirmPassword"
                            name="confirmPassword"
                            placeholder="Confirm Password"
                            required>
                    </div>
                </div>
            </div>
            <input class="submit" type="submit" value="Register">
        </form>
        <span id="already-registered">Already have an account? <a href="/login">Login</a>.</span>
    </div>
    <script src="/js/register.js"></script>
</body>
</html>