<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${search} + ' - StreamFusion'"></title>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/buttons.css}" rel="stylesheet"/>
    <link th:href="@{/css/searchResults.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" th:href="@{/img/logo.png}">
</head>

<header th:replace="~{header.html :: header}"></header>
<body>
    <div id="search-results" th:if="${!results.isEmpty()}">
        <a th:each="video : ${results}" th:href="'/video?id='+ ${video.getID()}" class="result-container">
            <img th:src="${video.getThumbnailURL()}" alt="" class="result-thumbnail">
            <div class="text-container">
                <span th:text="${video.getTitle()}" class="result-title"></span>
                <div class="wrap-container" id="views-and-date">
                    <span th:text="${video.getViews()} + ' Views'" class="result-views"></span>
                    <span th:text="${video.getUploadDate()}" class="result-upload-date"></span>
                </div>
                <div class="wrap-container">
                    <img th:src="${video.getUser().getProfilePictureURL}" alt="" class="result-uploader-profile-pic">
                    <span th:text="${video.getUser().getUsername()}" class="result-uploader"></span>
                </div>
                <div class="result-description"
                     th:text="${video.getDescription().length() < 600} ? ${video.getDescription()} :
                              ${video.getDescription().substring(0, 596)} + ' ...'">
                </div>
            </div>
        </a>
    </div>
    <div id="no-search-results" th:if="${results.isEmpty()}">
        <p th:text="'Nothing found like ' + ${search}"></p>
    </div>
</body>
</html>