<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${search} + ' - StreamFusion'"></title>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/searchResults.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" th:href="@{/img/logo.png}">
</head>

<header>
    <div class="container-gray" id="header-div">
        <div id="logo">
            <a href="/">
                <img src="/img/logo.png" alt="">
                <div>
                    <span>Stream</span>
                    <span>Fusion</span>
                </div>
            </a>
        </div>
        <div id="searchbar-container">
            <form id="search-form">
                <input id="search-input" type="search" name="search" placeholder="Search">
                <button id="search-button" type="submit">
                    <svg id="search-icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35px" height="16px" viewBox="0 0 50 50">
                        <path d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z"></path>
                    </svg>
                </button>
            </form>
        </div>
        <div id="account-section-header" th:if="${user != null}">
            <div id="account-info-header">
                <div id="account-names">
                    <span id="user-auth-test" th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"></span>
                    <br>
                    <span id="username-header"  th:text="'@' + ${user.getUsername()}"></span>
                </div>
                <img id="profile-picture" th:src="${user.getProfilePictureURL()}" alt="">
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="10" viewBox="0 0 26 10" fill="none">
                <path d="M0.999999 1L10 7.75C11.7778 9.08333 14.2222 9.08333 16 7.75L25 1"/>
            </svg>
            <div id="account-popup" class="container-gray">
                <ul>
                    <li><a th:href="'/user?id=' + ${user.getID()}">Profile</a></li>
                    <li><a href="/account">Account Settings</a></li>
                    <li><a id="logout" href="/login?logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script th:src="@{/js/header.js}"></script>
</header>

<body>
    <div id="search-results" th:if="${!resultingVideos.isEmpty()}">
        <a th:each="video : ${resultingVideos}" th:href="'/video?id='+ ${video.getID()}" class="result-container">
            <img th:src="${video.getThumbnailURL()}" alt="" class="result-thumbnail">
            <div>
                <span th:text="${video.getTitle()}" class="result-title"></span>
                <span th:text="${video.getViews()}" class="result-views"></span>
                <span th:text="${video.getUser().getUsername()}" class="result-uploader"></span>
            </div>
        </a>
    </div>
    <div id="no-search-results" th:if="${resultingVideos.isEmpty()}">
        <p th:text="'Nothing found like ' + ${search}"></p>
    </div>
</body>
</html>