<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${search} + ' - StreamFusion'"></title>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/searchResults.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" th:href="@{/img/logo.png}">
</head>

<header th:replace="~{header.html :: header}"></header>
<body>
    <div id="search-results" th:if="${!results.isEmpty()}">
        <a th:each="video : ${results}" th:href="'/video?id='+ ${video.getID()}" class="result-container">
            <img th:src="${video.getThumbnailURL()}" alt="" class="result-thumbnail">
            <div>
                <span th:text="${video.getTitle()}" class="result-title"></span>
                <span th:text="${video.getViews()}" class="result-views"></span>
                <span th:text="${video.getUser().getUsername()}" class="result-uploader"></span>
            </div>
        </a>
    </div>
    <div id="no-search-results" th:if="${results.isEmpty()}">
        <p th:text="'Nothing found like ' + ${search}"></p>
    </div>
</body>
</html>