<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/upload.css}" rel="stylesheet"/>
    <link th:href="@{/css/buttons.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" th:href="@{/img/logo.png}">
</head>

<header th:replace="~{header.html :: header}"></header>
<body>
    <div class="container-gray" id="container">
        <p>New Video</p>
        <form>
            <div id="first-section">
                <div id="inputs-beside-picture">
                    <label>
                        <input type="file" id="video-input" accept="video/*" required>
                    </label>
                    <label>
                        <input type="text" id="title-input" placeholder="Title" maxlength="64" required>
                    </label>
                </div>
                <label for="thumbnail-upload">
                    <img id="preview" alt="" src="/img/blank_profile.jpg">
                </label>
                <input type="file" id="thumbnail-upload" accept="image/*">
            </div>
            <label for="description-input">
                <textarea id="description-input" placeholder="Description" maxlength="4096" required></textarea>
            </label>
            <span>
                Videos must adhere to content standards suitable for users under 14. Uploading inappropriate, harmful, or
                pornographic material may result in the suspension of your account and legal consequences. By uploading a
                video, you confirm full ownership of the content.
            </span>
            <button class="button theme" type="submit">Upload</button>
        </form>
    </div>
    <script th:src="@{/js/upload.js}"></script>
</body>
</html>