<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/upload.css}" rel="stylesheet"/>
    <link th:href="@{/css/buttons.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" th:href="@{/img/logo.png}">
</head>

<header th:replace="~{header.html :: header}"></header>
<body>
    <h1>Upload</h1>
    <form id="upload-form">
        <input type="file" id="file" name="file" accept="video/*">
        <label for="title"></label>
        <label for="description"></label>
        <br>
        <input type="text" id="title" name="title" placeholder="Title">
        <input type="text" id="description" name="description" placeholder="Description">
        <br>
        <label for="thumbnail-upload"></label>
        <input type="file" id="thumbnail-upload" accept="image/*">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
<script th:src="@{/js/upload.js}"></script>
</html>