<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <h1>User</h1>

    <img th:src="${user.getProfilePictureURL()}" alt="profilePicture">

    <p>Username: </p><span th:text="${user.username}"></span>
    <p>Email: </p><span th:text="${user.email}"></span>
    <p>Firstname: </p><p th:text="${user.firstName}"></p>
    <p>Lastname: </p><p th:text="${user.lastName}"></p>
    <p>Date of Birth: </p><p th:text="${user.dateOfBirth}"></p>
    <p>Password: </p><span th:text="${user.password}"></span>
</body>
</html>