<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="icon" type="image/png" th:href="@{img/logo.png}">
</head>
<body>
    <h1>User</h1>

    <img th:src="${user.getProfilePictureURL()}" alt="profilePicture">

    <p>Username: </p><span th:text="${user.getFirstName()}"></span>
    <p>Email: </p><span th:text="${user.getEmail()}"></span>
    <p>Firstname: </p><p th:text="${user.getFirstName()}"></p>
    <p>Lastname: </p><p th:text="${user.getLastName()}"></p>
    <p>Date of Birth: </p><p th:text="${user.getDateOfBirth()}"></p>
</body>
</html>