<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${video.getTitle()} + ' - StreamFusion'"></title>
    <link th:href="@{css/default.css}" rel="stylesheet"/>
    <link th:href="@{css/header.css}" rel="stylesheet"/>
    <link th:href="@{css/video.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" th:href="@{img/logo.png}">
</html>

<header>
    <div class="container-gray" id="header-div">
        <div id="logo">
            <a href="/">
                <img src="/img/logo.png" alt="">
                <div>
                    <span>Stream</span>
                    <span>Fusion</span>
                </div>
            </a>
        </div>
        <div id="account-section-header" th:if="${user != null}">
            <div id="account-info-header">
                <div id="account-names">
                    <span id="user-auth-test" th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"></span>
                    <br>
                    <span id="username-header"  th:text="'@' + ${user.getUsername()}"></span>
                </div>
                <img id="profile-picture" th:src="${user.getProfilePictureURL()}" alt="">
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="10" viewBox="0 0 26 10" fill="none">
                <path d="M0.999999 1L10 7.75C11.7778 9.08333 14.2222 9.08333 16 7.75L25 1"/>
            </svg>
            <div id="account-popup" class="container-gray">
                <ul>
                    <li><a th:href="'/user?id=' + ${user.getID()}">Profile</a></li>
                    <li><a href="/account">Account Settings</a></li>
                    <li><a id="logout" href="/login?logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script th:src="@{js/header.js}"></script>
</header>

<body>
    <div id="video-body" class="container-gray">
        <div id="video-area">
            <video controls>
                <source th:src="${video.getStreamURL()}" th:type="'video/' + ${video.getFiletype()}">
            </video>
            <p th:text="${video.getTitle()}"></p>
            <div id="video-stats">
                <div id="uploader"><a th:href="'user?id=' + ${video.getUser().getID()}">
                    <img th:src="${video.getUser().getProfilePictureURL()}" alt="">
                    <div>
                        <span th:text="${video.getUser().getFirstName() + ' ' + video.getUser().getLastName()}"></span>
                        <br>
                        <span th:text="'@' + ${video.getUser().getUsername()}"></span>
                    </div>
                </a></div>
                <div onclick="like()" id="likes">
                    <span id="like-count" th:text="${video.getLikes()}"></span><span>likes</span>
                </div>
                <div onclick="dislike()" id="dislikes">
                    <span id="dislike-count" th:text="${video.getDislikes()}"></span><span>dislikes</span>
                </div>
                <div id="views"><span th:text="${video.getViews()}"></span><span>views</span></div>
                <div id="date"><span th:text="${video.getUploadDate()}"></span></div>
            </div>
            <div id="description">
                <span>Description</span>
                <br>
                <div th:text="${video.getDescription()}"></div>
            </div>
        </div>
        <div id="comments">
            <div id="comment-body">
                <div th:each="comment : ${video.getComments()}" class="comment">
                    <img th:src="${comment.getUser().getProfilePictureURL()}" alt="">
                    <div>
                        <span th:text="${comment.getUser().getFirstName()} + ' ' + ${comment.getUser().getLastName()}">
                        </span>
                        <br>
                        <span th:text="'@' + ${comment.getUser().getUsername()}"></span>
                        <br>
                        <span th:text="${comment.getContent()}"></span>
                    </div>
                </div>
            </div>
            <div th:if="${user != null}">
                <label for="comment-input"></label>
                <form id="comment-form">
                    <div class="input">
                        <input maxlength="255" type="text" id="comment-input" placeholder="Comment..." required>
                    </div>
                    <input type="submit" class="submit" value="Send">
                </form>
            </div>
            <div th:if="${user == null}">
                <span id="not-logged-in">You must be logged in to comment.</span>
            </div>
        </div>
    </div>

    <div style="display: none" id="is-liked"
         th:text="${user != null ? user.getLikedVideos().contains(video) : 'false'}"></div>
    <div style="display: none" id="is-disliked"
         th:text="${user != null ? user.getDislikedVideos().contains(video) : 'false'}"></div>
    <script th:src="@{js/video.js}"></script>
</body>