<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video</title>
</head>
<body>
    <h1>Video</h1>

    <p th:text="${video.getTitle()}"></p>
    <video width="320" height="240" controls>
        <source th:src="${video.getStreamURL()}" th:type="'video/' + ${video.getFiletype()}">
        Your browser does not support video streaming
    </video>
    <p>Likes: </p><span th:text="${video.getLikes()}"></span>
    <p>Dislikes: </p><span th:text="${video.getDislikes()}"></span>
    <p>Views: </p><span th:text="${video.getViews()}"></span>
    <p>Description: </p><p th:text="${video.getDescription()}"></p>
</body>
</html>